<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/description.css?after">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/description.js?after" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Final Project</title>
</head>

<body>
    <div class="container">

        <img id="exitBtn" src="../static/exit.png" />
        
        <img id="profilePic"/>
        
        <p id="fId"></p>
        <p id="description">Loading...</p>
        
        <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="enlargedImg">
            <div id="caption"></div>
        </div>
        
    </div>
</body>
</html>