<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/editProfile.css?after">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Final Project</title>
    <script src="../static/editProfile.js?after" type="text/javascript"></script>
</head>

<body>
    <div class="container">

        <img id="exitBtn" src="../static/exit.png" />
        
        <img id="profilePic"/>
        <button id="changePic">프로필 사진 변경</button>
        <input type="file" id="fileInput" accept="image/*" style="display:none;" />
        <p id="myId"></p>
        <p id="description"></p>
        <input type="text" id="changeDes"/>
        <button id="changeDesBtn">상태메시지 변경</button>
        
        <div id="imageModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="enlargedImg">
            <div id="caption"></div>
        </div>
        
    </div>
</body>
</html>