<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/mList.css?after">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/mList.js?after" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Final Project</title>
</head>

<body>
    <div class="container">
        <div class="nav">
            <img id="person" src="../static/person.png"/>
            <img id="message" src="../static/message.png"/>
            <img id="logout" src="../static/logout.png"/>
        </div>


        <div class="content">
            <div class="header">  
                <p class="friend">채팅</p>
                <img id="addFriend" src="../static/addMessage.png"/>
            </div>
            
        </div>
    </div>
</body>
</html>