<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/signup.css?after">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/signup.js?after" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Final Project</title>
</head>

<body>
    <div class="container">
        <span style="position: absolute; top:25%; font-size: 20px;">새로운 카카오계정을 생성합니다</span>
        
        <span style="position: absolute; top:40%;">아이디를 입력해 주세요</span>
        <input id="userId" type="text" placeholder=" ID">
        
        <span style="position: absolute; top:50%;">비밀번호를 입력해 주세요</span>
        <input id="pwd" type="password" placeholder=" 비밀번호">

        <div id="errorMessage" style="color: red; display: none;"></div>

        <button id="rgst">회원가입</button>
    </div>
</body>
</html>