<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/start.css?after">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/function.js?after" type="text/javascript"></script>
    <meta charset="UTF-8">
    <script type="text/javascript">
        setTimeout(function(){
            window.location.href = '/login';
        }, 1000);
    </script>
    <title>Final Project</title>
</head>

<body>
    <div class="container">
        <img id="start_logo" src="../static/KakaoTalk_logo.png">
    </div>
</body>
</html>
